.footer {
    text-align: center;
    font-size: 0.8rem;
    margin: auto;
    width: 80%;

    p {
        margin-bottom: 10px;
    }

    .links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer-link {
            text-decoration: none;
            min-width: 50px;
        }
    }
}