.songs-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    main {

        width: 70%;
        min-width: 450px;

        nav {
            margin-bottom: 20px;

            div {
                display: flex;
                gap: 10px;
            }
        }

        .songs-section {
            margin-bottom: 20px;

            .songs-section-title,
            .songs-section-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 20px;
            }

            .songs-section-title {
                button {
                    background: none;
                    border: none;
                    color: white;
                }
            }
        }
    }

    .playlist-main {
        > img {
            width: 40%;
            display: block;
            margin: auto;
        }

        h1 {
            text-align: center;
        }

        > p {
            text-align: center;
            margin-bottom: 20px;
        }

        section {
            width: 60%;
            margin: auto;
        }
    }
}